<section id="download" class="pt-base pb-base">
    <div class="columns">
        <div class="left column">
            <figure class="apps">
                <img class="phones" src="../img/mobile-app-phones.png" alt="" />
                <a href="#" target="_blank"><img class="poweredby" src="../img/predictive-hire.svg" alt="" /></a>
            </figure>
            <h1 class="section title mt-base mb-small">Download the application</h1>
            <p class="text">
                Download the HR Tech World Mobile App and instantly connect with thousands of attendees right on your fingertips.
                The app is your online diary that allows you to access the conference agenda, interactive floorplans, schedule meetings with buyer prospects, industry peers and so much more...
            </p>
            <div class="applogos mt-base">
                <a href="#" target="_blank"><img src="../img/googleplay.svg" alt="Get it on Google Play" title=""></a>
                <a href="#" target="_blank"><img src="../img/applestore.svg" alt="Download on the App Store" title=""></a>
            </div>
        </div>
        <div class="tutorials right column">
            <img src="../img/applogo.svg" alt="" />
            <a href="#" class="neutral light button mt-base">View tutorials</a>
        </div>
    </div>
</section>
