<section id="futureofwork">
    <article>
        <ul class="tabs mt-big mb-base">
            <li class="tab"><a class="color-home" href="#home"><span>Home</span></a></li>
            <li class="tab"><a class="color-main-stage" href="#main-stage"><span>Main Stage</span></a></li>
            <li class="tab"><a class="color-hr-technology" href="#hr-technology"><span>HR Technology</span></a></li>
            <li class="tab"><a class="color-talent-and-recruitment" href="#talent-and-recruitment"><span>Talent &amp; Recruitment</span></a></li>
            <li class="tab"><a class="color-smart-data" href="#smart-data"><span>Smart Data</span></a></li>
            <li class="tab"><a class="color-learning" href="#learning"><span>Learning</span></a></li>
            <li class="tab"><a class="color-adoption" href="#adoption"><span>Adoption</span></a></li>
            <li class="tab"><a class="color-hr-ss-and-payroll" href="#hr-ss-and-payroll"><span>HR SS &amp; Payroll</span></a></li>
            <li class="tab"><a class="color-wellbeing-and-rewards" href="#wellbeing-and-rewards"><span>Wellbeing &amp; Rewards</span></a></li>
            <li class="tab"><a class="color-digital-hr" href="#digital-hr"><span>Digital HR</span></a></li>
            <li class="tab"><a class="color-diversity-and-inclusion" href="#diversity-and-inclusion"><span>Diversity &amp; Inclusion</span></a></li>
            <li class="tab"><a class="color-think-tank" href="#think-tank"><span>Think Tank</span></a></li>
            <li class="tab"><a class="color-think-tank" href="#think-tank-2"><span>Think Tank II</span></a></li>
            <li class="tab"><a class="color-distrupt-hr" href="#distrupt-hr"><span>disruptHR</span></a></li>
            <li class="tab"><a class="color-product-demo" href="#product-demo"><span>Product Demo</span></a></li>
        </ul>
        <section id="home" class="tabcontent active">
            <h1 class="section title color-home mb-small">Future of work</h1>
            <p class="text">Technology continues to change our understanding of the world around us and in ways we had never imagined.
                Within 10 years, over half of the office occupations in the world will be displaced by technology. How do we manage this?
                How do we capitalize on this? And where is tech leading the Future of Work?</p>
            <p class="text">With Brexit, Cognitive HR, a possible global leadership crisis, and disruptions occurring in unpredictable ways,
                we'll be in London to help you navigate the changes and the possibilities interwoven with HR and tech.</p>
        </section>
        <section id="main-stage" class="tabcontent">
            <h1 class="section title color-main-stage mb-small">Main stage</h1>
            <p class="text">Our Main Stage lineup consists of Inspirational Visionaries, CEO's, Entrepreneurs and Thinkers who get the challenges of the
                tech revolution and what it means for business and organizations. Our Main Stage is second to none when it comes to helping you
                better understand and meet the challenges posed by technology. Let our Speakers inspire you to create a better and brighter
                future world of work and improved organizations that feel at ease in their ability to meet the challenge of disruptive innovation.</p>
        </section>
        <section id="hr-technology" class="tabcontent">
            <h1 class="section title color-hr-technology mb-small">HR Technology</h1>
            <p class="text">Get behind the scenes and take a good hard look at the myriad possibilities in HR Technology, and what current solutions offer and don't offer.
                Does it do what it's supposed to do, and if not, why not? Tech driven transformation is never going to be easy in a world where the range of
                solutions is bewildering. Hear from senior executives who have been there and done that and benefit from their insights into how they'd do things
                differently with the benefit of hindsight.</p>
        </section>
        <section id="talent-and-recruitment" class="tabcontent">
            <h1 class="section title color-talent-and-recruitment mb-small">Talent &amp; Recruitment</h1>
            <p class="text">Join the best minds and hear some of the most innovative solutions to talent management and candidate acquisition. More than simple success stories,
                it's a chance to hear from others who have taken a tough look at existing tech solutions. Find out what it takes to make your organization one where
                "love at first sight" becomes sustainable, and what you need to do to make it happen!</p>
        </section>
        <section id="smart-data" class="tabcontent">
            <h1 class="section title color-smart-data mb-small">Smart Data</h1>
            <p class="text">Making data smart is about knowing which bits to keep and which to discard. Having smart data ensures you make correct decisions.
                With analytical tools those decisions can become even smarter, more efficient and even more effective.
                We bring you experts and practitioners with deep experience of how to leverage data and make it smart.
                More than that you can listen as they share their experiences so that you better understand what works, what doesn't work, and why.</p>
        </section>
        <section id="learning" class="tabcontent">
            <h1 class="section title color-learning mb-small">Learning</h1>
            <p class="text">Training and development have never been more important than in today's fast-paced business environment.
                Learning technology is critical and getting it right even more so. Hear from senior learning practitioners and experts as they discuss innovative
                solutions to workplace learning and bring you insights into what works and what doesn't, as well as evaluating the steps you need to take to ensure
                you get technology that delivers on its promise.</p>
        </section>
        <section id="adoption" class="tabcontent">
            <h1 class="section title color-adoption mb-small">Adoption</h1>
            <p class="text">Most times that tech implementations fail it's because of poor user adoption. Experts will be on hand to share their experiences and the hard
                lessons learned in driving user adoption and making tech projects successful. Whether it's giving a make over to an unfriendly user interface, or a matter
                cultural or behavioural issues that require transformation, our Speakers on adoption will propose practical insights and innovative solutions to your challenges.</p>
        </section>
        <section id="hr-ss-and-payroll" class="tabcontent">
            <h1 class="section title color-hr-ss-and-payroll mb-small">HR SS &amp; Payroll</h1>
            <p class="text">Achieving excellence with HR shared services can be challenging for even the most efficient organizations. As with payroll, it's about metrics and
                tech solutions being effectively turned into business processes. Meet and interact with experts who will share practical approaches and highlight best
                practices for successful enterprise-wide shared services and payroll models.</p>
        </section>
        <section id="wellbeing-and-rewards" class="tabcontent">
            <h1 class="section title color-wellbeing-and-rewards mb-small">Wellbeing &amp; Rewards</h1>
            <p class="text">One of the fundamentals in HR is getting and keeping pay, benefits and rewards right. Learn and be inspired as you hear from some of the organizations
                and people who are creating innovative and game changing approaches to pay and reward in a world where money isn't always at the heart of the matter.
                Get it right and you enjoy an enhanced employer brand along with a motivated and inspired team. With our expert insights getting it wrong isn't an option!</p>
        </section>
        <section id="digital-hr" class="tabcontent">
            <h1 class="section title color-digital-hr mb-small">Digital HR</h1>
            <p class="text">Innovation, agility, entrepreneurial – these are words that are top of the agenda inside many organizations today. Many want to transform themselves
                into businesses that reflect these values, but are held back by legacy cultures, structures, and behaviours. This is where you get to find out from thought
                leaders, and those with experience of making the transformation, what it takes to make the change, what HR needs to do, and what are the solutions available.</p>
        </section>
        <section id="diversity-and-inclusion" class="tabcontent">
            <h1 class="section title color-diversity-and-inclusion mb-small">Diversity &amp; Inclusion</h1>
            <p class="text">Having a diverse and inclusive workplace has shown to be paramount in creating innovation and optimum performance in companies. In this stream, our speakers
                discuss how to create these inclusive spaces that welcome employees from various backgrounds and life experiences. Diversity is vital to the present and future,
                and here we explore just how important it is and how to make diversity and inclusion a reality.</p>
        </section>
        <section id="think-tank" class="tabcontent">
            <h1 class="section title color-think-tank mb-small">Think Tank</h1>
            <p class="text">Drill deeper and get more interactive in our exclusive thought leader-hosted focus group sessions. Led by some of the most respected experts from the HR and
                the Tech marketplace, these forums are designed so you have a unique opportunity to share experiences and challenges, learn from others, get your questions answered,
                and make new connections in a more intimate environment.</p>
        </section>
        <section id="think-tank-2" class="tabcontent">
            <h1 class="section title color-think-tank mb-small">Think Tank II</h1>
            <p class="text">Drill deeper and get more interactive in our exclusive thought leader-hosted focus group sessions. Led by some of the most respected experts from the HR and the
                Tech marketplace, these forums are designed so you have a unique opportunity to share experiences and challenges, learn from others, get your questions answered,
                and make new connections in a more intimate environment.</p>
        </section>
        <section id="distrupt-hr" class="tabcontent">
            <h1 class="section title color-distrupt-hr mb-small">disruptHR</h1>
            <p class="text">Rub shoulders with the next generation of entrepreneurs – the inspired innovators who are coming up with tomorrow's solutions today. You'll be able to hear
                from dynamic and tech savvy start-ups how their cutting edge ideas and solutions are going to challenge established ideas. Listen to the Founders and
                CEO's of these emerging tech companies discuss their vision of the future of HR and solutions they propose.</p>
        </section>
        <section id="product-demo" class="tabcontent">
            <h1 class="section title color-product-demo mb-small">Product Demo</h1>
            <p class="text">Listen to leading solution providers give you the practical information you need on their latest applications and solutions. Whether you're in the market
                for a new system or app, wondering how much longer they'll support the one you just implemented, or simply curious about what's out there, don't miss out
                on these valuable sessions. You'll be informed, wooed and even wowed, plus it's a unique chance to put your questions direct to the developers.</p>
        </section>
    </article>
    <nav class="buttons mt-base mb-big">
        <button class="primary dark bordered button">Join our community</button>
        <button class="primary dark bordered showpopup button" data-target="#popup-trailer">Watch trailer</button>
    </nav>
</section>
<div id="popup-trailer" class="popup">
    <button class="close button">Close window</button>
    <iframe class="videoplayer" src="https://www.youtube.com/embed/1EOH-9Pk9Ns?rel=0&amp;enablejsapi=1&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
</div>
