<header class="navbar">
    <div class="hrtlogo">
        <h1 class="sr-only">HR Tech World</h1>
        <h2 class="sr-only"><b>London</b> 21-22 March 2017</h2>
    </div>
    <button class="burger-menu"><span>Toggle menu</span></button>
    <nav id="main-menu">
        <ul>
            <li><a href="/" class="active">HOME</a></li>
            <li><a href="#">SPEAKERS</a></li>
            <li><a href="#">AGENDA</a></li>
            <li><a href="#">SPONSORS</a></li>
            <li><a href="#">MEDIA</a></li>
            <li><a href="#">disruptHR</a></li>
            <li><a href="#">TRAVEL</a></li>
            <li><a href="#">FLOORPLAN</a></li>
            <li class="submenu"><a href="#">MORE</a>
                <ul>
                    <li><a href="#">PRESS</a></li>
                    <li><a href="#">PRESS KIT</a></li>
                    <li><a href="#">CONTACT</a></li>
                    <li><a href="#">HR TECH WORLD <small><span class="color-frisco">SAN FRANCISCO</span> 14-15 JUNE 2017</small></a></li>
                    <li><a href="#">HR TECH WORLD <small><span class="color-amsterdam">AMSTERDAM</span> 24-25 OCTOBER 2017</small></a></li>
                    <li><a href="#">HRN BLOG</a></li>
                    <li><a href="#">HRN</a></li>
                </ul>
            </li>
        </ul>
        <a href="#" class="primary dark button">Get tickets</a>
    </nav>
</header>
