<section id="hero">
    <h1 class="slogen">The <span>Greatest</span> HR Shows on Earth</h1>
    <div class="container">
        <h2 class="section title">Unleash your people!</h2>
        <div class="buttons">
            <a href="#request-agenda" class="primary light button">Request agenda</a>
            <a href="#" class="primary dark button">Get tickets</a>
        </div>
        <div class="sponsors">
            <a href="#" target="_blank"><img src="../img/avature.svg" alt="Avature"></a>
            <a href="#" target="_blank"><img src="../img/benify.svg" alt="Benify"></a>
            <a href="#" target="_blank"><img src="../img/cornerstone.svg" alt="Cornerstone"></a>
            <a href="#" target="_blank">
                <img id="sap-h" src="../img/sap.svg" alt="SAP SuccessFactors">
                <img id="sap-v" src="../img/sap-v.svg" alt="SAP SuccessFactors">
            </a>
            <a href="#" target="_blank"><img src="../img/workday.svg" alt="Workday"></a>
        </div>
    </div>
    <p class="left keynote">
        Featuring Keynote<br>
        <b>Baroness Karren Brady</b>
    </p>
    <p class="right keynote">
        Featuring Keynote<br>
        <b>Sir Ken Robinson</b>
    </p>
</section>
