// DOWNLOAD SECTION
#download {
    // IE9+
    background: svg-url("<svg viewBox='0 0 1 1' preserveAspectRatio='none'><linearGradient id='a' x1='0' y1='100%' y2='0' gradientUnits='userSpaceOnUse'><stop stop-color='" + $bg-download-from + "' offset='0'/><stop stop-color='" + $bg-download-to + "' offset='1'/></linearGradient><path fill='url(#a)' d='M0 0h1v1H0z'/></svg>");
    background: linear-gradient(45deg, $bg-download-from, $bg-download-to);

    .columns {
        margin: 0 auto;
        text-align: center;
        @include vw((
            max-width: 1300px
        ));
    }

    .column {
        display: inline-block;
        vertical-align: middle;
        @include vw((
            width: 572px
        ));

        @media (max-width: $screen-laptop) {
            width: 100%;
        }

        &.right {
            img {
                display: block;
                margin: 0 auto;

                @media (max-width: $screen-laptop) {
                    margin-top: $gap-small;
                    max-width: getVW(572px, $screen-laptop);
                }

                @media (max-width: $screen-tablet) {
                    max-width: 90vw;
                }
            }
        }
    }

    .apps {
        display: inline-block;
    }

    .phones {
        display: block;
        margin: 0 auto;
        height: auto;
        @include  vw((
            width: 203px
        ));

        @media (max-width: $screen-laptop) {
            width: getVW(203px, $screen-laptop);
        }

        @media (max-width: $screen-tablet) {
            width: getVW(252px, $screen-tablet);
        }
    }

    .poweredby {
        @include  vw((
            width: 104px,
            height: 42px,
            margin: -30px 0 0 170px
        ));

        @media (max-width: $screen-laptop) {
            margin-left: 65%;
            margin-top: -15px;
        }
    }

    .text {
        @include vw((
            padding: 0 18px
        ));

        @media (max-width: $screen-laptop) {
            max-width: 640px;
            margin: 0 auto $gap-small;
        }
    }

    .applogos {
        img {
            @include vw((
                width: 135px,
                height: 40px,
                margin: 0 15px 15px
            ))
        }

        @media (max-width: $screen-laptop) {
            margin: 0 auto;
        }
    }
}
