// FUTURE OF WORK SECTION
#futureofwork {
    background: $color-white;

    @media (max-width: $screen-laptop) {
        padding-top: $gap-base;
    }

    .buttons {
        @media (max-width: $screen-tablet) {
            margin-bottom: 0;
        }

        .button {
            @media (max-width: $screen-tablet) {
                display: block;
                margin: 0 auto 18px;
            }

            @media (min-width: $screen-tablet + 1) {
                + .button {
                    @include vw((
                        margin-left: 18px
                    ))
                }
            }
        }
    }
}

.tabs {
    text-align: center;

    @media (max-width: $screen-laptop) {
        display: none;
    }

    .tab {
        position: relative;
        display: inline-block;

        a {
            display: block;

            &.active {
                &:before {
                    filter: none;
                    transform: scale(.8);
                }

                span {
                    transform: translateY(0) scaleX(1);
                }
            }

            &:before {
                content: '';
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                display: block;
                filter: contrast(0) brightness(1.64);
                transform: scale(.5);
                transition: all .3s;
                @include vw((
                    width: 60px,
                    height: 60px
                ));
            }
        }

        span {
            position: absolute;
            left: 50%;
            bottom: 100%;
            background: rgba(2, 0, 0, 0.05);
            transform-origin: 50% 100%;
            transform: translateY(10px) scaleX(0);
            transition: all .3s;
            @include vw((
                padding: 10px 0,
                font-size: 12px,
                width: 200px,
                margin: 0 0 20px -100px
            ));

            &:after {
                content: url(../img/tooltiparrow.svg);
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .color-home:before                    { background-image: url(../img/icon-home.svg); }
    .color-main-stage:before              { background-image: url(../img/icon-mainstage.svg); }
    .color-hr-technology:before           { background-image: url(../img/icon-hrtechnology.svg); }
    .color-talent-and-recruitment:before  { background-image: url(../img/icon-talentandrecruitment.svg); }
    .color-smart-data:before              { background-image: url(../img/icon-smartdata.svg); }
    .color-learning:before                { background-image: url(../img/icon-learning.svg); }
    .color-adoption:before                { background-image: url(../img/icon-adoption.svg); }
    .color-hr-ss-and-payroll:before       { background-image: url(../img/icon-hrssandpayroll.svg); }
    .color-wellbeing-and-rewards:before   { background-image: url(../img/icon-wellbeingandrewards.svg); }
    .color-digital-hr:before              { background-image: url(../img/icon-digitalhr.svg); }
    .color-diversity-and-inclusion:before { background-image: url(../img/icon-diversityandinclusion.svg); }
    .color-think-tank:before              { background-image: url(../img/icon-thinktank.svg); }
    .color-think-tank-2:before            { background-image: url(../img/icon-thinktank2.svg); }
    .color-distrupt-hr:before             { background-image: url(../img/icon-disrupthr.svg); }
    .color-product-demo:before            { background-image: url(../img/icon-productdemo.svg); }
}

.tabcontent {
    opacity: 0;
    max-height: 0;
    margin: 0 auto;
    overflow: hidden;
    transition: opacity 1s, max-height 0s 1s;
    @include vw((
        max-width: 760px
    ));

    &.active {
        opacity: 1;
        max-height: 100em;
        transition: opacity 1s 1s, max-height 0s 1s;
    }
}
