// HEADER
.navbar {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background: $color-black;
    @include vw((
        height: $gap-big
    ));
}

.hrtlogo {
    position: absolute;
    background: url(../img/hrtechworld-logo.svg) no-repeat;
    @include vw((
        width: 240px,
        height: 42px,
        margin-top: 18px,
        margin-left: 40px
    ));

    @media (max-width: $screen-tablet) {
        margin-left: 18px;
    }
}

.burger-menu {
    display: none;
    position: absolute;
    top: $gap-base;
    transform: translateY(-50%);
    right: 7px;
    width: 40px;
    height: 40px;
    background: transparent;
    font-size: 0;

    @media (max-width: $screen-laptop) {
        display: block;

        .menu-active & {
            span {
                background: transparent;

                &:before, &:after {
                    transition: top .3s linear 0s, transform .3s linear .3s;
                }

                &:before {
                    top: 18px;
                    transform: rotate(45deg);
                }

                &:after {
                    transform: rotate(-45deg);
                    top: 18px;
                }
            }
        }
    }

    span {
        margin: 0 auto;
        transition: background .3s linear .3s;

        &, &:before, &:after {
            display: block;
            width: 26px;
            height: 3px;
            background: $color-white;
        }

        &:before, &:after {
            content: '';
            position: absolute;
            transition: top .3s linear 0.3s, transform .3s linear 0s;
        }

        &:before {
            top: 10px;
        }

        &:after {
            top: 26px;
        }
    }
}

#main-menu {
    text-align: center;
    @include vw((
        font-size: 14px,
        margin-top: 16px
    ));

    @media (max-width: $screen-laptop) {
        position: fixed;
        top: $gap-big;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 10vh 0;
        background: #000;
        transform: translateX(200vw);
        transition: transform .3s .7s;

        .menu-active & {
            transform: translateX(0);
            transition: transform .3s;
        }
    }


    > ul {
        display: inline-block;

        @media (max-width: $screen-laptop) {
            display: block;
        }

        li {
            position: relative;

            @media (min-width: $screen-laptop + 1) {
                &.submenu:hover {
                    > a {
                        color: $color-primary;
                    }

                    > ul {
                        right: 0;
                        opacity: 1;
                        transform: translateX(0);
                        transition: transform .3s, opacity .3s, right 0s;
                    }
                }
            }

            @media (max-width: $screen-laptop) {
                display: block;
                margin-bottom: 15px;

                &.submenu > a {
                    display: none;
                }
            }
        }

        a {
            color: $color-white;
            transition: transform 0s, color .3s;
            display: inline-block;

            @media (min-width: $screen-laptop + 1) {
                @include vw((
                    line-height: 40px
                ));
            }

            @media (max-width: $screen-laptop) {
                font-size: 15px;
                transform: translateX(100vw);
                transition: transform .7s, color .3s;

                .menu-active & {
                    transform: translateX(0);
                    transition: transform .7s .3s, color .3s;
                }
            }

            &:hover,
            &.active {
                color: $color-primary;
            }
        }

        > li {
            display: inline-block;
            transition: padding .3s;
            @include vw((
                padding: 0 30px 19px
            ));

            @media (max-width: 1600px) {
                padding: 0 1vw;
            }

            > ul {
                @media (min-width: $screen-laptop + 1) {
                    opacity: 0;
                    position: absolute;
                    top: 100%;
                    right: -100vw;
                    text-align: left;
                    background: $color-white;
                    border-top: solid transparentize($color-black, .9);
                    transform: translateX(20%);
                    transition: transform .3s, opacity .3s, right 0s linear .3s;
                    @include vw((
                        border-top-width: 4px,
                        min-width: 200px,
                        padding: 5px 0
                    ));
                }

                @media (max-width: $screen-laptop) {
                    .menu-active & {
                        position: static;
                        opacity: 1;
                    }
                }

                > li {
                    a {
                        @media (min-width: $screen-laptop + 1) {
                            display: block;
                            color: $color-submenu;
                            transition: transform 0s, color .3s, background .3s;
                            line-height: 1.3;
                            @include vw((
                                padding: 5px 18px
                            ));

                            &:hover {
                                color: $color-white;
                                background: $color-primary;
                            }
                        }
                    }
                }

                small {
                    display: block;
                    line-height: 1;
                    @include vw((
                        font-size: 8px
                    ))
                }
            }
        }
    }

    > .button {
        transition: transform 0s, color .3s, background .3s;

        @media (max-width: 1600px) {
            margin-left: 1vw;
        }

        @media (min-width: $screen-laptop + 1) {
            position: absolute;
            @include vw((
                margin-left: 30px
            ));
        }

        @media (max-width: $screen-laptop) {
            transform: translateX(100vw);
            transition: transform .7s, color .3s, background .3s;

            .menu-active & {
                transform: translateX(0);
                transition: transform .7s .3s, color .3s, background .3s;
            }
        }
    }
}
