// HERO SECTION
#hero {
    position: relative;
    height: getVW(1180px);
    background: url(../img/bg-hero-desktop.jpg) no-repeat 50% 0 / 100% auto $color-black;
    color: $color-white;
    text-align: center;

    @media (max-width: $screen-desktop) {
        background-image: url(../img/bg-hero-desktop.jpg);
        height: getVW(620px, $screen-tablet);
    }

    @media (max-width: $screen-tablet) {
        background-image: url(../img/bg-hero-mobile.jpg);
        height: getVW(710px, $screen-mobile);
    }

    .slogen {
        position: absolute;
        left: 50%;
        top: getVW(300px);
        transform: translateX(-50%);
        padding-left: getVW(80px);
        font-size: getVW(40px);
        font-weight: 300;
        line-height: .7;
        text-align: left;
        text-shadow: 0 0 getVW(10px) rgba(0,0,0,.75);

        span {
            display: block;
            font-size: getVW(110px);
            margin: 0 0 getVW(15px) getVW(-80px);
        }

        @media (max-width: $screen-desktop) {
            top: getVW(155px, $screen-tablet);
            font-size: getVW(20px, $screen-tablet);

            span {
                font-size: getVW(56px, $screen-tablet);
            }
        }

        @media (max-width: $screen-tablet) {
            top: getVW(93px, $screen-mobile);
            font-size: getVW(13px, $screen-mobile);

            span {
                font-size: getVW(35px, $screen-mobile);
            }
        }
    }

    .container {
        position: absolute;
        left: 0;
        right: 0;
        bottom: getVW(70px);

        @media (max-width: $screen-tablet) {
            bottom: getVW(35px, $screen-mobile);
        }
    }

    .section.title {
        margin-bottom: getVW($gap-small);

        @media (max-width: $screen-tablet) {
            font-size: getVW(23px, $screen-mobile);
            margin-bottom: getVW($gap-small, $screen-mobile);
        }
    }

    .keynote {
        position: absolute;
        bottom: getVW(70px);
        text-align: center;
        font-size: getVW(24px);

        @media (max-width: $screen-desktop) {
            font-size: getVW(12px, $screen-tablet);
            top: getVW(85px, $screen-tablet);
            bottom: auto;
        }

        @media (max-width: $screen-tablet) {
            font-size: getVW(12px, $screen-mobile);
            bottom: getVW(375px, $screen-mobile);
            top: auto;
        }

        &.left {
            left: getVW(50px);

            @media (max-width: $screen-desktop) {
                left: getVW(40px, $screen-tablet);
            }

            @media (max-width: $screen-tablet) {
                text-align: left;
                left: getVW(18px, $screen-mobile);
            }
        }

        &.right{
            right: getVW(90px);
            @media (max-width: $screen-desktop) {
                right: getVW(60px, $screen-tablet);
            }

            @media (max-width: $screen-tablet) {
                text-align: right;
                right: getVW(18px, $screen-mobile);
            }
        }

        b {
            font-size: getVW(34px);
            font-weight: 900;

            @media (max-width: $screen-desktop) {
                font-size: getVW(16px, $screen-tablet);
            }

            @media (max-width: $screen-tablet) {
                font-size: getVW(14px, $screen-mobile);
            }
        }
    }

    .sponsors {
        @media (max-width: $screen-desktop) {
            margin: 3vw 2vw;
        }

        @media (max-width: $screen-tablet) {
            text-align: left;
            margin: 7vw 10vw 0;

            a {
                display: inline-block;
                width: 40vw;
            }
        }

        img {
            width: auto;
            height: 2.1vw;
            margin: getVW($gap-big) getVW(15px) 0;

            &#sap-h { display: inline-block; }
            &#sap-v { display: none; }

            @media (max-width: $screen-desktop) {
                height: 4vw;
                margin: 3vw 3vw 0;
            }

            @media (max-width: $screen-tablet) {
                max-width: 35vw;
                height: 10vw;
                margin: 3vw;

                &#sap-h { display: none; }
                &#sap-v { display: inline-block; }
            }
        }
    }


    .button {
        @include vw((
            margin-left: 18px,
            margin-right: 18px
        ));

        @media (max-width: $screen-desktop) {
            margin: 0 1.5vw 18px;
        }

        @media (max-width: $screen-tablet) {
            display: block;
            margin: 0 auto;

            + .button {
                margin-top: getVW(20px, $screen-mobile);
            }
        }
    }
}
