<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>London - HR Tech World</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
</head>
<body>
<%= require('html-loader!./templates/header.ejs') %>
<%= require('html-loader!./templates/hero.ejs') %>
<%= require('html-loader!./templates/futureofwork.ejs') %>
<%= require('html-loader!./templates/download.ejs') %>
</body>
</html>
