// HELPERS & UTILITIES
.sr-only {
    position: absolute;
    top: auto;
    left: -999em;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.color-primary                  { color: $color-primary; }
.color-london                   { color: $color-london; }
.color-frisco                   { color: $color-frisco; }
.color-amsterdam                { color: $color-amsterdam; }

.color-home                     { color: $color-home; }
.color-main-stage               { color: $color-main-stage; }
.color-hr-technology            { color: $color-hr-technology; }
.color-talent-and-recruitment   { color: $color-talent-and-recruitment; }
.color-smart-data               { color: $color-smart-data; }
.color-learning                 { color: $color-learning; }
.color-adoption                 { color: $color-adoption; }
.color-hr-ss-and-payroll        { color: $color-hr-ss-and-payroll; }
.color-wellbeing-and-rewards    { color: $color-wellbeing-and-rewards; }
.color-digital-hr               { color: $color-digital-hr; }
.color-diversity-and-inclusion  { color: $color-diversity-and-inclusion; }
.color-think-tank               { color: $color-think-tank; }
.color-distrupt-hr              { color: $color-distrupt-hr; }
.color-product-demo             { color: $color-product-demo; }

.mt-big     { @include vw(( margin-top:     $gap-big )); }
.mt-base    { @include vw(( margin-top:     $gap-base )); }
.mt-small   { @include vw(( margin-top:     $gap-small )); }
.mb-big     { @include vw(( margin-bottom:  $gap-big )); }
.mb-base    { @include vw(( margin-bottom:  $gap-base )); }
.mb-small   { @include vw(( margin-bottom:  $gap-small )); }
.pt-big     { @include vw(( padding-top:    $gap-big )); }
.pt-base    { @include vw(( padding-top:    $gap-base )); }
.pt-small   { @include vw(( padding-top:    $gap-small )); }
.pb-big     { @include vw(( padding-bottom: $gap-big )); }
.pb-base    { @include vw(( padding-bottom: $gap-base )); }
.pb-small   { @include vw(( padding-bottom: $gap-small )); }

// ELEMENTS
body {
    min-width: 320px;
    font: 400 16px/1.3 $font-primary;
}

// COMPONENTS
.buttons {
    text-align: center;
}

.button {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    border: 0;
    text-align: center;
    text-transform: uppercase;
    transition: background .3s, color .3s;
    @include vw((
        max-width: 200px,
        font-size: 14px,
        height: 40px,
        line-height: 40px
    ));

    &.primary {
        &.bordered {
            border: 1px solid $color-primary;
        }

        &.light,
        &.dark:hover {
            color: $color-primary;
            background: $color-white;
        }

        &.dark,
        &.light:hover {
            background: $color-primary;
            color: $color-white;
        }
    }

    &.neutral {
        &.light {
            border: 1px solid $color-white;
            background: $color-white;
            color: $color-darkgrey;
        }

        &.light:hover {
            color: $color-white;
            background: transparent;
        }
    }

    &.close {
        position: relative;
        font-size: 0;
        background: transparent;
        @include vw((
            width: 40px,
            height: 40px
        ));

        &:before, &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            background: $color-white;
            @include vw((
                width: 26px,
                height: 3px
            ))
        }

        &:before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}

.title {
    &.section {
        text-align: center;
        text-transform: uppercase;
        font-weight: 900;
        line-height: 1.2;
        @include vw((
            font-size: 32px
        ));

        @media (max-width: $screen-tablet) {
            font-size: 23px;
        }
    }
}

.text {
    margin: 0 0 1em;
    font-weight: 300;
    text-align: center;
    line-height: #{24px/14px};

    @include vw((
        font-size: 14px,
    ));

    @media (max-width: $screen-tablet) {
        margin: 0 18px 1em;
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: transparent;
    transform: translateX(100vw);
    transition: transform 0s linear .6s, background .3s linear .3s;

    &.active {
        transform: translateX(0);
        background: rgba(0, 0, 0, .8);
        transition: transform 0s linear 0s, background .3s linear 0s;

        iframe {
            transition: transform .3s linear .3s;
            transform: scale(1);
        }

        .close.button {
            display: block;
        }
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $color-black;
        transform: scale(0);
        transition: transform .3s linear 0s;
    }

    .close.button {
        display: none;
        position: absolute;
        z-index: 10;
        @include vw((
            left: 18px,
            top: 18px
        ));
    }
}
