// Calculate VW from pixel value for a given screen size
@function getVW($pxValue, $screenWidth: $screen-desktop) {
    @if ($pxValue == 0) {
        @return 0;
    }

    @return ($pxValue / $screenWidth) * 100vw;
}

// Create vw based values and a media query with pixel values to keep aspect ratios on bigger screens
@mixin vw($map, $screenWidth: $screen-desktop) {

    @function replaceValues($pxValues) {
        $values: null;

        @each $pxValue in $pxValues {
            $values: $values getVW($pxValue, $screenWidth);
        }

        @return $values;
    }

    @each $key, $pxValues in $map {
        #{$key}: replaceValues($pxValues);
    }

    @media (max-width: $screenWidth) {
        @each $key, $value in $map {
            #{$key}: $value;
        }
    }
}

//  Helper function to replace characters in a string
@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @return if($index,
        str-slice($string, 1, $index - 1) + $replace +
        str-replace(str-slice($string, $index +
        str-length($search)), $search, $replace),
        $string);
}

//  Get an IE optimized svg url
@function svg-url($svg) {
    // Add missing namespace
    @if not str-index($svg, xmlns) {
        $svg: str-replace($svg, '<svg','<svg xmlns="http://www.w3.org/2000/svg"');
    }

    $encoded:'';
    $slice: 2000;
    $index: 0;
    $loops: ceil(str-length($svg) / $slice);

    //  Chunk up string in order to avoid "stack level too deep" error
    @for $i from 1 through $loops {
        $chunk: str-slice($svg, $index, $index + $slice - 1);
        $chunk: str-replace($chunk,'"', '\'');
        $chunk: str-replace($chunk,'%', '%25');
        $chunk: str-replace($chunk,'&', '%26');
        $chunk: str-replace($chunk,'#', '%23');
        $chunk: str-replace($chunk,'{', '%7B');
        $chunk: str-replace($chunk,'}', '%7D');
        $chunk: str-replace($chunk,'<', '%3C');
        $chunk: str-replace($chunk,'>', '%3E');

        //    Keep size and compile time down
        //    ... only add on documented fail
        //
        //  $chunk: str-replace($chunk, '|', '%7C');
        //  $chunk: str-replace($chunk, '[', '%5B');
        //  $chunk: str-replace($chunk, ']', '%5D');
        //  $chunk: str-replace($chunk, '^', '%5E');
        //  $chunk: str-replace($chunk, '`', '%60');
        //  $chunk: str-replace($chunk, ';', '%3B');
        //  $chunk: str-replace($chunk, '?', '%3F');
        //  $chunk: str-replace($chunk, ':', '%3A');
        //  $chunk: str-replace($chunk, '@', '%40');
        //  $chunk: str-replace($chunk, '=', '%3D');

        $encoded: #{$encoded}#{$chunk};
        $index: $index + $slice;
    }

    @return url("data:image/svg+xml,#{$encoded}");
}
