* {
    box-sizing: border-box;
    font-family: inherit;
    line-height: inherit;
}

html, body, ul, li, p, h1, h2, h3, h4, h5, h6, figure, button {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img, button, input, select, textarea {
    border: 0;
}

button {
    cursor: pointer;
}

:focus {
    outline: none;
}
