// COLORS
$color-white:                       #fff;
$color-black:                       #000;
$color-darkgrey:                    #0a0909;

$color-london:                      #9c0;
$color-frisco:                      #e80f42;
$color-amsterdam:                   #00a7e1;

$color-primary:                     $color-london;

$color-home:                        #9c0;
$color-main-stage:                  #18a7e0;
$color-hr-technology:               #bb6e3d;
$color-talent-and-recruitment:      #57b1b8;
$color-smart-data:                  #8a5ea4;
$color-learning:                    #00a29a;
$color-adoption:                    #81b041;
$color-hr-ss-and-payroll:           #809453;
$color-wellbeing-and-rewards:       #a92a31;
$color-digital-hr:                  #ee2a7b;
$color-diversity-and-inclusion:     #3b8954;
$color-think-tank:                  #3f80c2;
$color-distrupt-hr:                 #cca82e;
$color-product-demo:                #e41a52;

$color-submenu:                     #2c292a;
$bg-download-from:                  #4da1cd;
$bg-download-to:                    #70c862;

// FONTS
$font-primary:                      'Roboto', sans-serif;

// BREAKPOINTS
$screen-desktop:                    1920px;
$screen-laptop:                     1280px;
$screen-tablet:                     768px;
$screen-mobile:                     320px;

// DIMENSIONS
$gap-base:                          37.5px;
$gap-big:                           $gap-base * 2;
$gap-small:                         $gap-base / 2;
